@import '../../../sass/var'

*
  font-family: $font1

header
  border-top: $cube*0,5 solid $prime
  padding: $cube*1
  font-family: Poppins

  h1
    color: $white
    line-height: 1.1em
    font-weight: bold
    display: flex
    flex-wrap: nowrap
    margin: 2% 29% 1% 29%
    font-size: $cube*5.5
    text-transform: uppercase

  button
    margin-right: 1%
    margin-top: -4.2%
    top: 10px
    float: right
    font-size: 14px
    color: $white
    background-color: $light-grey
    outline: none
    border-radius: 3px
    border-color: $light-grey

