<div class="login-container">
  <h1>Zweikaufsliste</h1>
  <h2>Log dich in eure Shoppingliste ein</h2>
  <input class="login-field" [(ngModel)]="email" placeholder="E-Mail" type="email">
  <input class="login-field" [(ngModel)]="password" placeholder="Passwort" type="password" ><i class="fa fa-eye" toggle="#password-field"></i>
  <button (click)="doLogin()"><p>Einloggen</p></button>
</div>


<script>
  $(".toggle-password").click(function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
  });
</script>
