<div class="todo" [class.done] ="toDo$.checked">
    <div class="todo-content">
        <div class="handle"></div>
          <i *ngIf="!toDo$.checked" (click)="changeCheck($event)" class="fa fa-ellipsis-v" id="fa-drag"></i>
          <i *ngIf="toDo$.checked" (click)="changeCheck($event)" class="fa fa-heart" id="fa-hide"></i>
        <div class="todo-content-check" id="fa-check">
            <i *ngIf="!toDo$.checked" (click)="changeCheck($event)" class="fa fa-square-o"></i>
            <i *ngIf="toDo$.checked" (click)="changeCheck($event)" class="fa fa-check-square-o"></i>
        </div>
        <div class="todo-content-titel">
            <input type="text" [(ngModel)]="toDo$.label" placeholder="Hier schreiben" (blur)="changeLabel($event)">
        </div>
    </div>
    <div class="delete" (click)="deleteToDo($event)">
        <span class="fa fa-times"></span>
    </div>
</div>
