<div class="todo" [class.done] ="toDo$.status">
    <div class="todo-content">
        <div class="handle"></div>
          <i class="fa fa-th"></i>
        <div class="todo-content-check">
            <i *ngIf="!toDo$.status" (click)="changeCheck($event)" class="fa fa-square-o"></i>
            <i *ngIf="toDo$.status" (click)="changeCheck($event)" class="fa fa-check-square-o"></i>
        </div>
        <div class="todo-content-titel">
            <input type="text" [(ngModel)]="toDo$.label" placeholder="Name des ToDo-Punktes" (blur)="changeLabel($event)">
        </div>
    </div>
    <div class="delete" (click)="deleteToDo($event)">
        <span>Löschen</span>
    </div>
</div>
